<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "LiveSelect", suffix: " · Showcase") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <header>
      <div class="p-5 navbar bg-base-100 gap-5">
        <h1 class="text-2xl font-bold flex-1">LiveSelect Showcase App</h1>
        <a class="link text-xl" href="https://github.com/maxmarcon/live_select" target="_blank">
          <img width="50" src={Routes.static_path(@conn, "/images/github-mark.png")} />
        </a>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
