<div class="flex w-full p-5 gap-2">
    <div class="flex flex-col w-1/2 gap-y-5">
        <div class="prose text-center">
            <h2>Change settings here:</h2>
        </div>
        <.form for={:settings} let={f} phx-change="update-settings">
        <div class="flex flex-wrap p-5 gap-2">
            <div class="form-control max-w-sm">
                <%= label(f, :form_name, "Form name:", class: "label label-text") %>
                <%= text_input(f, :form_name, class: "input input-bordered", value: @form_name) %>
            </div>
            <div class="form-control max-w-sm">
                <%= label(f, :field_name, "Field name:", class: "label label-text") %>
                <%= text_input(f, :field_name, class: "input input-bordered", value: @field_name) %>
            </div>
            <div class="form-control max-w-sm">
                <%= label(f, :placeholder, "placeholder:", class: "label label-text") %>
                <%= text_input(f, :placeholder, class: "input input-bordered", value: @live_select_opts[:placeholder]) %>
            </div>
            <div class="form-control max-w-sm">
                <%= label(f, :search_term_min_length, "search_term_min_length:", class: "label label-text") %>
                <%= text_input(f, :search_term_min_length, class: "input input-bordered", value: @live_select_opts[:search_term_min_length]) %>
            </div>
            <div class="form-control max-w-sm">
                <%= label(f, :style, "style:", class: "label label-text") %>
                <%= select(f, :style, [:daisyui, :none], class: "select select-bordered", selected: @live_select_opts[:style]) %>
            </div>
        </div>
        </.form>

    <div class="prose text-center">
        <h2>See events and messages here:</h2>
    </div>

    <div id="event-list" class="flex flex-col gap-y-2">
        <%= for {event, idx} <- Enum.with_index(@events) do %>
            <div class={"#{if @new_event && idx== 0, do: "animate-bounce"} ml-10 border-info border-2 rounded p-2"}>
        <Render.event {event}/>
    </div>
    <% end %>
</div>
</div>

<div class="flex flex-col w-1/2 items-center gap-y-5 bg-base-100 border rounded-md">
    <div class="prose text-center">
        <h2>Try out the component here:</h2>
    </div>
    <.form for={String.to_atom(@form_name)} let={f} phx-change="change" phx-submit="submit" class="w-1/2">
        <div class="flex gap-2 items-center">
            <%= live_select f, @field_name, @live_select_opts %>
            <%= submit "Submit", class: "btn btn-primary" %>
        </div>
    </.form>
    
    <%= if @selected do %>
        <p class="text-info w-1/2">🎉 You selected city <%= @selected_text %> located at <%= @selected %> 🎉</p>
    <% end %>
</div>
</div>