<main class="container mx-auto">
  <%= if Phoenix.Flash.get(@flash, :info) do %>
    <p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="info">
      <%= Phoenix.Flash.get(@flash, :info) %>
    </p>
  <% end %>

  <%= if Phoenix.Flash.get(@flash, :error) do %>
    <p class="alert alert-error" role="alert" phx-click="lv:clear-flash" phx-value-key="error">
      <%= Phoenix.Flash.get(@flash, :error) %>
    </p>
  <% end %>

  <%= @inner_content %>
</main>
